//- .overlay

//- form.modal.callback(data-modal="callback")
//-     .modal__close
//-         img.img-svg(src='img/icons/close.svg', alt='Close')

    //- input(type="hidden", name="Форма: ", value="Обратный звонок")


//- <div class="modal video center" data-modal="video">
//-     <div class="video-content"></div>
//-     <div class="modal__close">
//-         <img class="img-svg" src="img/icons/close.svg" alt="Close">
//-     </div>
//- </div>
