extends common/layout

block content
    section.intro-section.black-section
        img.intro__img(src="img/intro/intro__img.jpg", alt="")
        .container 
            .intro__box 
                h1.t-title <span class="blue">Новые решения</span> <br>для Вашего <br>бизнеса.
                .t-subtitle Прием платежей с банковских карт <br>для высокорискованного сегмента
                .t-btn.transparent-blue 
                    span Создать аккаунт
                    img.icon.img-svg(src="img/icons/out.svg", alt="")
                    